<%= form_tag("/shelters/#{@shelter.id}", method: :patch) do %>
  <p><%= label_tag 'Updated Shelter Name' %></p>
  <%= text_area_tag 'name', "#{@shelter.name}" %>
  <p><%= label_tag 'Updated Shelter Address' %></p>
  <%= text_area_tag 'address', "#{@shelter.address}" %>
  <p><%= label_tag 'Updated Shelter City' %></p>
  <%= text_area_tag 'city', "#{@shelter.city}" %>
  <p><%= label_tag 'Updated Shelter State' %></p>
  <%= text_area_tag 'state', "#{@shelter.state}" %>
  <p><%= label_tag 'Updated Shelter Zip' %></p>
  <%= text_area_tag 'zip', "#{@shelter.zip}" %>

  <div><%= submit_tag 'Update Shelter' %></div>
<% end %>
