<header><%= link_to 'Shelters Index', '/shelters' %> <%= link_to 'Pets Index', '/pets' %></header>

<%= form_tag('/shelters') do %>
  <p><%= label_tag 'Shelter Name' %></p>
  <%= text_area_tag 'name' %>
  <p><%= label_tag 'Shelter Address' %></p>
  <%= text_area_tag 'address' %>
  <p><%= label_tag 'Shelter City' %></p>
  <%= text_area_tag 'city' %>
  <p><%= label_tag 'Shelter State' %></p>
  <%= text_area_tag 'state' %>
  <p><%= label_tag 'Shelter Zip' %></p>
  <%= text_area_tag 'zip' %>

  <div><%= submit_tag 'Create Shelter' %></div>
<% end %>
