<header><%= link_to 'Shelters Index', '/shelters' %> <%= link_to 'Pets Index', '/pets' %></header>

<%= form_tag("/pets/#{@pet.id}", method: :patch) do %>
  <p><%= label_tag 'Updated Pet Name' %></p>
  <%= text_area_tag 'name', "#{@pet.name}" %>
  <p><%= label_tag 'Updated Pet Image' %></p>
  <%= text_area_tag 'image', "#{@pet.image}" %>
  <p><%= label_tag 'Updated Pet Description' %></p>
  <%= text_area_tag 'description', "#{@pet.description}" %>
  <p><%= label_tag 'Updated Pet Age' %></p>
  <%= text_area_tag 'age', "#{@pet.age}" %>
  <p><%= label_tag 'Updated Pet Sex' %></p>
  <%= text_area_tag 'sex', "#{@pet.sex}" %>

  <div><%= submit_tag 'Update Pet' %></div>
<% end %>
