<header><%= link_to 'Shelters Index', '/shelters' %> <%= link_to 'Pets Index', '/pets' %></header>

<h1><%= @pet.name %></h1>

<figure>
  <img src= <%= @pet.image %> alt = <%= @pet.name %> height="200">
</figure>

<section>
  <p><%= "Description: #{@pet.description}" %></p>
  <p><%= "Age: #{@pet.age}" %></p>
  <p><%= "Sex: #{@pet.sex}" %></p>
  <p><%= "Adoption Status: #{@pet.adoption_status}" %></p>
</section>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>

<%= link_to 'Delete Pet', "/pets/#{@pet.id}/destroy", data: {:confirm => "Are you sure you want to delete #{@pet.name}?"}, :method => :delete %>
