<h1><%= @pet.name %></h1>

<p><%= "#{@pet.image}" %></p>
<p><%= "Description: #{@pet.description}" %></p>
<p><%= "Age: #{@pet.age}" %></p>
<p><%= "Sex: #{@pet.sex}" %></p>
<p><%= "Adoption Status: #{@pet.adoption_status}" %></p>
